header{
	text-align: center;
}
a{
	text-decoration: none;
	color: black;
}

h1{
	text-align: center;
	font-weight: bold;
	font-family: Verdana;
	font-size: 70px;
	color: #EDDD48;
}

button{
	font-size: 24px;
	border-radius: 8px;
	background-color: transparent;
	color: black;
	border: 1px solid black;
	transition: 0.5s;
}
button:hover{
	background-color: #18D9C0;
}
div{
	text-align: center;
}
.sn{

	font-size: 45px;
	border-radius: 8px;
	background-color: transparent;
	color: black;
	border: 1px solid black;
	transition: 0.5s;
}
.sn:hover{
	background-color: #18D9C0;
}
body{
	background-image: url("a.jpg");
}